@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");

body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#playground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;
}
#playground > .row {
  display: flex;
  flex: 1;
}
#playground .cell {
  border: 1px solid black;
  flex: 1;
}
#playground .cell-1 {
  background-color: rgb(255, 157, 87);
}
#playground .cell-2 {
  background-color: rgb(141, 255, 141);
}
#playground .cell-3 {
  background-color: rgb(99, 99, 244);
}

#playground .cell-4 {
  background-color: rgb(254, 167, 235);
}

.boom {
  position: fixed;
  width: 32px;
  height: 32px;
  animation: boom 3s ease-out;
}
@keyframes boom {
  to {
    opacity: 0;
    transform: scale(3);
  }
}

.box {
  display: flex;
  justify-content: space-between;
}

#title {
  text-align: center;
  margin-top: 12%;
}

#about {
  margin-top: 25px;
  margin-left: 30px;
}

#refresh {
  margin-top: 25px;
  margin-right: 30px;
}

h1 {
  color: rgba(255, 203, 18, 1);
  font-family: Bayon;
  font-size: 20px;
}

h1:hover {
  color: rgba(255, 107, 0, 1);
  font-family: Bayon;
  font-size: 20px;
}

h2 {
  color: rgba(255, 107, 0, 1);
  font-family: Bayon;
  font-size: 20px;
}
h2:hover {
  color: rgba(255, 203, 18, 1);
  font-family: Bayon;
  font-size: 20px;
}

#txt {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

input {
  width: 500px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  outline-style: none;
  font-family: Bayon;
}

a:link,
a:visited {
  text-decoration: none;
}
