
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


html {
    font-size: 1em;
    line-height: 1.4;
   padding: 1.5rem;
}

body {
    background-image: url(/images/bkground1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h2, h3, h4, h5, h6 {
    font-family:'Ubuntu', sans-serif;
    font-weight:700;
  }
  
  h1 {
    font-size:6rem;
    margin-bottom:1.25rem;
    font-family: 'Shizuru', cursive;
  }
  
  h2 {
    font-size:3.25rem;
    margin-bottom:1.25rem;
  }
  
  h3 {
    font-size:2.25rem;
    margin-bottom:1rem;
  }
  
  h4 {
    font-size:1.5rem;
    margin-bottom:1rem;
  }
  
  h5 {
    font-size:1rem;
    margin-bottom:.5rem;
  }
  
  
  p{
    font-family: 'Prompt', sans-serif;


  }