@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/*font-family: 'Righteous', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Righteous&display=swap');
/*font-family: 'Palette Mosaic', cursive;*/
body {
    margin: 0cm;
    padding: 0px;
    background-color:rgb(244, 220, 191);
}

h1 {
    font-family: 'Righteous', cursive;
    font-family: 'Righteous'; 
    font-size: 30px;
    color:rgb(255, 255, 255)
}

#about {
    position: fixed;
    margin-left: 3%;
}
div.title{
    margin-left: 23%;
    margin-top: 0%;
    text-align: center;

}

a:link,a:visited{
    text-decoration:none;
}

#title {
    position:absolute ;
    margin-left: 17%;
    top:70px
}

#gif1 {
    position: absolute;
    margin-top: 580px;
    margin-left: 50%;
}


.bar {
    background-color: rgba(255, 250, 239, 1);
    position:absolute;
    width: 100%;
    height: 558px;
    left: 0px;
    top: 780px;
    
}

#about1 {
    margin-left: 200px;
    margin-top: 90px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(223, 189, 157);
    font-size: 2rem;
    margin-left: 40%;
}

h2:hover {
    color: rgb(121, 112, 100);
    font-size: 2.5rem;
}

h3:hover {
    color: rgb(207, 186, 159);
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-left: 40%;
}